@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500&family=Montserrat:400&display=swap");


$theme-light-font-color: #0c0f48;
$theme-dark-font-color: white;
$theme-light-main-background: #ffffff;
$theme-dark-main-background: #191d28;
$theme-color: #3dc6c1;
$theme-dark-component-background: #2e3241;
$theme-light-component-background: #f8f9fa;


  .fiat-crypto-table {
    padding-left: 25px;
    padding-right: 25px;

    table {
      width: 100%;
      max-width: 100%;
      border-collapse: separate;
      border-spacing: 0 1em;
      margin: 0;
    }

    th {
      color: $theme-light-font-color;
      padding: 0 12px;

      h4 {
        font-family: "Oswald";
        font-size: 16px;
        opacity: 0.45;
        letter-spacing: 1px;
        margin: 0;
        margin-bottom: -5px;
      }
    }
    td {
      color: $theme-light-font-color;
      padding-top: 15px;
      padding-bottom: 15px;

      h4 {
        font-family: "Oswald";
        font-size: 16px;
        margin: 0;
        opacity: 1;
      }
      a{
        color: #000;
      }
    

    tbody {
      tr {
        background-color: $theme-light-component-background;
      }

      td:first-child {
        border-radius: 10px 0 0 10px;
      }

      td:last-child {
        border-radius: 0 10px 10px 0;
      }
    }
  }
}

